body{
    background-color: rgba(68, 227, 53, 0.7);
}
#nav{
    background-color: rgb(255, 255, 255, 0.7);
    height: 90px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#nav a{
    text-decoration: none;
}
.logo{
    text-decoration:none;
    font-size: 40px;
    color:rgb(0, 0, 0);
    align-items: center;
    font-family:Verdana;
    display:flex;
   
}
img{
    height: 480px;
    width: auto;
}


.imgcontainer{
    background-color: rgb(255, 255, 255, 0.4);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.video_map{
    background-color: rgb(255, 255, 255, 0.4);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* page 2 */

.story{
    background-color: rgb(255, 255, 255, 0.4) ;
    height: 800px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.text_founders{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    padding: 30px;
}
.pic_founders{
    height: 400px;
}
.next_story{
    background-color: rgb(255, 255, 255, 0.4) ;
    height: 700px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_present_days{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    padding: 30px;

}

/* page3 */
.monuments{
    background-color: rgb(255, 255, 255, 0.4) ;
    height: 700px;
    padding: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    display: flex;
    flex-direction: column;
    align-items: center;
}